phishing-soar-workflow.json
{
  "name": "phishing",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "q": "-label:Safe",
          "readStatus": "unread"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "428bc4b3-73b5-45f3-8f26-3f1e1bb3133b",
      "name": "Email Received",
      "alwaysOutputData": false,
      "executeOnce": false,
      "credentials": {
        "gmailOAuth2": {
          "id": "TrusugYNPVbIzX4t",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const content = $json.text || $json.snippet || \"\";\nconst urlRegex = /https?:\\/\\/[^\\s<>\"]+/g;\nconst matches = content.match(urlRegex);\n\nif (!matches) return { extractedUrl: \"No URL found\" };\n\n// FIX: Use encodeURI to handle those long Medium query strings\nreturn {\n  extractedUrl: encodeURI(matches[0].trim())\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "84d37c17-e5f7-4196-8844-499447fb1752",
      "name": "URL Checking"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "81399f6c-556a-4c7e-87af-26af76d6586e",
              "leftValue": "={{ $json.extractedUrl }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "6d025733-7280-4420-98a0-996d25d72206",
      "name": "URL Exists?"
    },
    {
      "parameters": {
        "url": "={{ $json.extractedUrl }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.urlScanIo",
      "typeVersion": 1,
      "position": [
        672,
        -64
      ],
      "id": "5b5d18e3-9491-43e2-b063-14202db0670b",
      "name": "Analyze",
      "credentials": {
        "urlScanIoApi": {
          "id": "kkOme0auV9rAVpeC",
          "name": "urlscan.io account"
        }
      }
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        880,
        -64
      ],
      "id": "9e6736aa-2535-4d80-9aa2-08183b45c98d",
      "name": "Processing",
      "webhookId": "eeab3e74-cf52-4b9d-bf21-c3e9c759c609"
    },
    {
      "parameters": {
        "operation": "get",
        "scanId": "={{ $json.scanId }}"
      },
      "type": "n8n-nodes-base.urlScanIo",
      "typeVersion": 1,
      "position": [
        1088,
        -64
      ],
      "id": "5354452b-5b3b-48d6-803b-8afbf67ce162",
      "name": "Analyze Result",
      "credentials": {
        "urlScanIoApi": {
          "id": "kkOme0auV9rAVpeC",
          "name": "urlscan.io account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "53aa34de-b39e-4ac1-bdf1-0584024e7a16",
              "leftValue": "={{ $json.verdicts.engines.score }}",
              "rightValue": 75,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "a3612fed-b5f8-4c9b-a68f-1eaa9f4b31a0",
              "leftValue": "={{ $json.verdicts.engines.malicious }}",
              "rightValue": 0,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1296,
        -64
      ],
      "id": "fb37a037-cc19-40df-b2e4-dfcc77f29f23",
      "name": "Is Malicious?"
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "addLabels",
        "threadId": "={{ $('Email Received').item.json.id }}",
        "labelIds": [
          "Label_4499765099727766823"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1504,
        -160
      ],
      "id": "dc3529f8-431b-4fd0-b747-3a59082e463f",
      "name": "Phishing Mail",
      "webhookId": "8758ac88-438a-4311-a5da-4bc7c7c24cf0",
      "credentials": {
        "gmailOAuth2": {
          "id": "TrusugYNPVbIzX4t",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "addLabels",
        "threadId": "={{ $('Email Received').item.json.id }}",
        "labelIds": [
          "Label_6177796772600912515"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1504,
        32
      ],
      "id": "b67a50a7-bc9e-449b-8cf1-7e8c269c4262",
      "name": "Safe",
      "webhookId": "4c022640-15a7-4c80-a777-e2f2bac5203a",
      "credentials": {
        "gmailOAuth2": {
          "id": "TrusugYNPVbIzX4t",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "addLabels",
        "threadId": "={{ $('Email Received').item.json.id }}",
        "labelIds": [
          "Label_6177796772600912515"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        672,
        112
      ],
      "id": "73bce360-7baa-4098-8ecc-c5b91f511a66",
      "name": "No URL",
      "webhookId": "4c022640-15a7-4c80-a777-e2f2bac5203a",
      "credentials": {
        "gmailOAuth2": {
          "id": "TrusugYNPVbIzX4t",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Email Received": {
      "main": [
        [
          {
            "node": "URL Checking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "URL Checking": {
      "main": [
        [
          {
            "node": "URL Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "URL Exists?": {
      "main": [
        [
          {
            "node": "Analyze",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze": {
      "main": [
        [
          {
            "node": "Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processing": {
      "main": [
        [
          {
            "node": "Analyze Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Result": {
      "main": [
        [
          {
            "node": "Is Malicious?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Malicious?": {
      "main": [
        [
          {
            "node": "Phishing Mail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Safe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "b37db630-c220-4f7a-bb14-57fd3cae35fc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c3ab36ce0bf1edaef1a07b570f1f06a3c7091bb8f42afc3b0dd1184ce38b2dc5"
  },
  "id": "9B3LyF4Zq1lOntMe",
  "tags": []
}